!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href="/stylesheets/bootstrap.css", type="text/css")
		link(rel="stylesheet", href="/stylesheets/bootstrap-responsive.css", type="text/css")

	body!= body